<div class="blogpost">
  <div class="blogpost-header">
    <div class="float-left">
      <h3>
        <%= link_to blogpost.title, blog_path(blogpost) %>
      </h3>
    </div>
    <div class="float-right">
      <p>
        <%= blogpost.created_at.to_time.strftime('%B %e, %Y') %>
      </p>
    </div>
  </div>
  <div class="blogpost-content">
    <% if blogpost.content.length > 500 %>
      <p> <%= markdown(blogpost.content[0, 500] + "...") %>
    <%= link_to "Read More", blog_path(blogpost) %> </p>
    <% else %>
      <%= markdown(blogpost.content) %>
    <% end %>
  </div>
</div>
