<div class="blogposts-container">
  <div class="blogpost">
    <%= form_for([:admin, @new_blogpost]) do |f| %>
      <%= f.text_field :title, placeholder: "Title", class: "blogpost-new-title"%>
      <div class="blogpost-public-checkbox">
        <%= f.check_box :public %>
        <%= f.label "Public" %>
      </div>
      <%= f.text_area :content, placeholder: "Content...", class: "blogpost-new-content" %>
      <%= f.submit "Post", class:"submit-button signin-submit"%>
    <% end %>
  </div>

  <%= render @blogposts %>
</div>
<%= button_to "Sign Out" , signout_path , method: 'delete'%>
