<div class="blogposts-container">
  <%= form_for([:admin, @blogpost]) do |f| %>
    <%= f.text_field :title, placeholder: "Title", class: "blogpost-new-title"%>
    <%= f.text_area :content, placeholder: "Content...", class: "blogpost-new-content" %>
    <div class="blogpost-new-public">
      <%= f.label "Public" %>
      <%= f.check_box :public %>
    </div>
    <%= f.submit "Post", class:"blogpost-submit"%>
  <% end %>

  <%= render @blogposts %>
</div>
<%= button_to "Sign Out" , signout_path , method: 'delete'%>
