<div class="blogpost" id="<%= @blogpost.id %>">
  <div class="blogpost-header">
    <div class="float-left blogpost-title">
      <h3>
        <%= @blogpost.title %>
      </h3>
    </div>
    <div class="float-right blogpost-date">
      <p>
        <%= @blogpost.created_at.to_time.strftime('%B %e, %Y') %>
      </p>
    </div>
  </div>
  <div class="blogpost-content">
    <%= markdown(@blogpost.content) %>
  </div>
  <%= button_to "Edit", edit_admin_blogpost_path(@blogpost), class: "float-left blogpost-edit", method: "get" %>
  <%= button_to "Delete", admin_blogpost_path(@blogpost), class:"float-right blogpost-delete", method: "delete", data: { confirm: "You sure?" }%>
</div>
