<!DOCTYPE html>
<html>
<head>
  <title>Cody Ma | Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-body">
<% if flash[:error] %>
  <div class="signin-error"><%= flash[:error] %></div>
<% end %>

<%= yield %>

</body>
</html>
